root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
# Google Java Style
indent_size = 2
continuation_indent_size = 4
max_line_length = 100

[*.{js,jsx,ts,tsx}]
# Airbnb Style
indent_size = 2
max_line_length = 100

[*.{json,yml,yaml,xml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false