spring:
  application:
    name: auth-server
  security:
    user:
      name: admin
      password: admin
    oauth2:
      authorizationserver:
        issuer: http://localhost:9000

server:
  port: 9000
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.example.auth: DEBUG
